html
{
    height:100%;
}
body 
{
    background: url(https://wallpapercave.com/wp/wp2180151.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-image: linear-gradient(to bottom, #1A4A1C, #308834 600px); */
}


.Play-first{
    background: cornsilk;
    
      border:0px; 
    font-size: 50px;
     border-radius: 10%;
     transition-duration: .6s; 
     color:black;
}

.Play-first:hover{
      font-size: 50px;
      background: none;
      border:0px;
      text-shadow: 10%;
      color:black;
      padding-bottom: 20px;
    
}
.afterplay
{
    display:none;
}

#add-button-dis
{
    display: none;
}
.play-btn{
    float:right;
}
*{
   margin:0;
   padding:10px;
   font-family: "montserrat",sans-serif; 
   box-sizing: border-box;
}
.container{
    max-width: 800px;
    margin:auto;
    padding:10px;
}
.form-control{
    width:100%;
    border:none;
    border-bottom: 2px solid #000;
    background:none;
    padding:10px;
    outline:none;
    font-size:18px;
    /* background: none; */
    /* input[type=text]:disabled ; */
    
}
h3{
    margin: 10px 0; 
}
.input-group-append{
    width:100%;
    /* background: rgba(255,255,255,0.5); */
    padding:18px;
    margin:6px 0;
    /* overflow: hidden; */
    background : none;
    
}
.Players button{
    float:right;
    margin-left:20px;
    cursor:pointer;
}
.list-group-item{
    background: none;
    border-radius: 20%;
    margin:1%;
    font-family: "montserrat",sans-serif; 
   box-sizing: border-box;
   color:black;
   font-size: x-large;
   font-weight: 600;

}
/* .Play-first {
    border-radius: 4px;
    background-color:cornsilk;
    border: none;
    color: black;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
.Play-first span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.Play-first span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.Play-first :hover span {
    padding-right: 25px;
  }
  
.Play-first:hover span:after {
    opacity: 1;
    right: 0;
  } */
 #play1{
    text-align: center;
    padding-top:20%;
    color: black;
    font-size: 80px;
    font-weight: bold;
}